body {
	margin: 20px;
	background-color: black;
	color: white;
	font-family: Raleway;
}

header h1{
	text-align: center;
}

#contenido {
	display: flex;
	flex-direction: column;
}

#contenido > h1 {
	padding: 10px;
	text-align: center;
}

footer {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
}

.contenedor {
	display: flex;
	flex-direction: row;
}

img{
	border: 2px solid white;
	width: 200px;
}

.contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}
 #imagen1{
	 -webkit-filter:grayscale(100%);
	 filter: grayscale(100%);
 }

 #imagen2{
	 -webkit-filter:blur(10px);
	 filter: blur(10px);
 }

 #imagen3{
	-webkit-filter:invert(100%);
	filter:invert(100%);
 }

 #imagen4{
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
 }
