@font-face {
	font-family: "FuenteLato";
	src:"url(../fuentes/Lato-Regular.ttf)");
}

body{
	margin: 20px;
	font-family: Lora; Verdana;
}

.resaltado{
	background-color: yellow;
	color: black;
}

#menu-principal{
	padding: 10px 0px;
	font-family: FuenteLato;
	font-style: italic;
	}

footer{
	border-top: solid 1px black;
	padding-top: 10px;
	text-align: center;
}

h1.titulo{
	background-color: aliceblue;
	text-align: center;
	font-variant: small-caps;
	font-family: FuenteLato;
	padding: 10px;
}
