body{
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-style: Verdana;
  }
.resaltado{
background-color: yellow;
}
#menu-principal{
  padding: 10px,0px;
}
footer{
  border-top: solid 1px black;
  padding-top: 10px;
  text-align: center;
}
h1.titulo{
	background-color: aliceblue;
	text-align: center;
	padding: 10px;
}
